.header {
  padding: 20px 0;
  border: 1px solid var(--border-color);
  background: #fff;
}

.menu__list-item {
  margin-left: 35px;
}

.menu__list-link:first-child {
  margin-right: 35px;
}

.menu__list-link,
.header__phone {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  padding-bottom: 5px;
}

.menu__list-link::after,
.header__phone::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid var(--red);
  transition: width 0.2s ease;
}

.menu__list-link:hover,
.header__phone:hover {
  color: var(--red);
}

.menu__list-link:hover::after,
.header__phone:hover::after {
  width: 100%;
}

.header__phone {
  display: flex;
  align-items: center;
  color: #000;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header__phone-icon {
  display: block;
  margin-right: 7px;
}

/* хотел чтоб при наведении менялся fill у svg*/
.header__phone:hover .header__phone-icon {
  fill: red;
}

.header__basket {
  position: relative;
  top: 0;
  left: 0;
}

.header__basket-count {
  content: "";
  position: absolute;
  left: 35%;
  top: -2px;
  z-index: 2;
  color: #fff;
  font-family: "Roboto";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--red);
  padding: 2px 5px;
  border-radius: 50%;
}

.promotion {
  margin: 106px 0 60px;
}

.promotion__slids {
  width: 1170px;
}

.promotion__slids-item {
  width: 330px;
}

.promotion__slids-text {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promotion__slids-link {
  color: #000;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  border: 1px solid #000;
  /*падинг как то криво отработал пришлось text-align:center добавить*/
  padding: 15px 58px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-top: 36px;
}

.promotion__slids-image {
  width: 555px;
  height: 415px;
}

.slick-dots {
  display: flex;
  
}

.slick-active {
  width: 20px;
  height: 20px;
  background: var(--red);
}
